<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accepted.notepad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".login.Login_MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity" />
        <activity android:name=".main.ClickChange_MainActivity" />
        <activity android:name=".join.Join_MainActivity" />
        <activity android:name=".join.LostID1_MainActivity" />
        <activity android:name=".join.LostID2_MainActivity" />
        <activity android:name=".join.LostPW1_MainActivity" />
        <activity android:name=".join.LostPW2_MainActivity" />

        <activity android:name=".papermemo.Papermemo_MainActivity" />
        <activity android:name=".addmemo.Addmemo_MainActivity" />
        <activity android:name=".backgound.Background_MainActivity" />
        <activity android:name=".password.Password_MainActivity" />
        <activity android:name=".tutorial.Tutorial_MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>